/**{
    margin: 0%;
    padding: 0%;
    font-kerning: "montserrat",sans-serif; 
}
.header{
    height: 100%;
    background: #34495e;
    padding: 0 20px;
    color: black;
    background-color: #34495e;
}

.menu{
    float: right;
    line-height: 100px;
}
.menu a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.show-menu-btn{
    float: right;
}
.show-menu-btn i{
    line-height: 100px;
    color: black;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #3498db;
}
#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}
.content{
    padding: 0 20px;
}
.content center .page .zonesaisi{
    width: 100%;
    max-width: 700px;
}
.content .saisi{
    width: 100%;
    max-width: 10%;
}
@media screen and (max-width:800px){
    .show-menu-btn,.hide-menu-btn{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        right: -100%;
        background: #333;
        left: 0;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu{
        right: 0;
    }
}*/
body{
    margin: 0%;
    padding: 0%;
    background-image: url(images/page.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-size: cover;
    font-family: "montserrat",sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    
  
    
}
.deconnecte{
    float: right;
    
    margin: 0%;
    padding: 0%;
    margin-right: 10px;
    text-decoration: none;
    margin-top: 14px;
    
    
    
}
.deconnecte > a{
    padding: 5px 10px;
    color: chartreuse;
    line-height: 50px;

    

}
nav{
    width: 100%;
    background-color: #34495e;
    line-height: 50px;
}

.logo{
    margin-left: 10px;
    float: left;
    border-radius:50% ;
    width: 100px;
    height: 100px;
}
nav > ul{
    margin: 0%;
    padding: 0%;
    margin-right: 80px;

}
nav > ul::after{
    content: "";
    display: block;
    clear: both;
}
nav > ul > li{
    float: right;
    position: relative;
    margin-bottom: 10px;
    
   
}
nav li{
    list-style-type: none;
   
}
nav a {
    display: inline-block;
    text-decoration: none;
}
nav a:hover{
    color: #3498db;
}
nav > ul > li > a{
    padding: 20px 30px;
    color: #FFF;
   
    
    

}
.page{
    display: flex;
    position:absolute;
    flex-direction: column;
    justify-content: center ;
	left: 65%;
	width: 50%;
	margin-left: -40%;
    box-shadow: -10px 10px 30px gray;
    background-color: rgba(1,1,99, 0.8);
    border-radius: 10px;
    padding-bottom: 50px;
    margin-top: 20px;

    
}
.page1{
    display: flex;
    position:absolute;
    flex-direction: row;
    justify-content: space-around;
	left: 40%;
	width: 100%;
	margin-left: -40%;
    box-shadow: -10px 10px 30px gray;
    background-color: rgba(1,1,99, 0.8);
    border-radius: 10px;
    padding-bottom: 50px;
    margin-top: 5%;
    
}
form {
    padding: 25px;
}
form div{
    margin-bottom: 30px;
}
label{
    font-size: 20px;
    font-weight: bold;
}
.saisi{
    width: 40%;
    height: 35px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid silver;
    margin-left: 40px;
    
    
}
.zonesaisi{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
label input{
    margin: 0 10px 0;
}
.enregister{
    width: 30%;
    height: 40px;
    font-size: 25px;
    border: 3px  gray outset;
    border-radius: 5px;
    color: #fff;
    background-color:  rgba(1,1,99, 0.8);
   
    
}
.enregister:hover{
    background-color: silver;
}
.enregister:active{
    background-color: rgb(0, 96, 175);
    border: 3px #2196F3 inset;
}

.modifier{
    width: 25%;
    height: 40px;
    font-size: 25px;
    border: 1px  gray outset;
    border-radius: 5px;
    color: #fff;
    background-color:  rgba(1,1,99, 0.8);
    margin-top: 10%;
}
.medecin{
    margin-top: 5%;
}
.liste{
    text-decoration: none;
    width: 30%;
    height: 20px;
    font-size: 25px;
    border: 1px   rgb(97, 219, 15) outset;
    border-radius: 5px;
    color: #fff;
    background-color:  rgb(97, 219, 15);
   
    
    
}
.liste:hover{
    background-color: rgb(46, 15, 219);
}
.liste:active{
    background-color: rgb(0, 96, 175);
    border: 3px #2196F3 inset;
}
.listemedecin{
    margin-top: 10px;
    text-align: left;
}
.listespcialiter{
    margin-top: -30px;
    text-align: right;

}
